<h1>Lista de Compras </h1>
<div class='container'>
  <table class='table table-striped table-responsive table-bordered table-dark'>
    <thead>
      <tr>
        <th> Comprador </th>
         <th> Descrição do Item </th>
         <th> Nome do Comerciante </th>
         <th> Endereço do Comerciante </th>
         <th> Total de Itens </th>
         <th> Preço do Item </th>
      </tr>
    </thead>
    <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
          <td><%= purchase.purchaser.name %></td>
          <td><%= purchase.item.description %></td>
          <td><%= purchase.item.merchant.name %></td>
          <td><%= purchase.item.merchant.address %></td>
          <td><%= purchase.quantity %></td>
          <td><%= number_to_currency(purchase.item.price, unit: 'R$', separator: ',', delimiter: '') %></td>
        </tr>
      <% end %>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Total:</th>
        <td><b><%= purchases_sum(@purchases) %></b></td>
      </tr>
    </tbody>
  </table>
</div>

