<!DOCTYPE html>
<html>

<head>
  <title>HexactaDev</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <main role="main" class="col-md-8 ml-sm-auto col-lg-5 px-md-4 margin-main justify-content-center align-items-center container">
    <%= yield %>
  </main>
</body>

</html>